:host {
  display: grid;
  -ms-grid-rows: auto 1fr;
  grid-template-rows: auto 1fr;
  -ms-grid-columns: auto 1fr;
  grid-template-columns: auto 1fr;
  grid-template-areas:
      "status status"
      "sidebar main";
  height: 100%;
  align-items: stretch;

}

.sidebar {
  width: 190px;
  grid-area: sidebar;
  position: relative;
  background-color: slateblue;
}

.main {
  grid-area: main;
  background-color: grey;
  overflow: hidden;
  position: relative;
}
