<aside class="sidebar">
  <p *ngIf="(isAuthenticated$ | async)">Greetings, {{(user$ | async)?.given_name}}</p>

  sidebar
  <ul>
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/dashboard">Dashboard (AngularJS)</a></li>
    <li><a routerLink="/manage/bookings">Bookings (AngularJS)</a></li>
    <li><a routerLink="settings">Settings</a></li>
  </ul>

  <button *ngIf="(isAuthenticated$ | async)" (click)="onLogout()">Logout</button>
  <button (click)="onHide()">Hide</button>

  <div>
    visible$: {{visible$ | async}}
  </div>
</aside>
<main class="main">
  <roller-iframe [hidden]="(visible$ | async) === false"></roller-iframe>
  <router-outlet></router-outlet>
</main>
